* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #292727;
    color: white;
    font-family: Bahnschrift;
}



#container-for-maps {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 50px;
}

#container-for-maps > p {
    cursor: pointer;
    padding: 10px;
    border: 1px rebeccapurple solid;
    text-align: center;
}